<p><b><%= @product['name'] %></b></p>
<img src="<%= @product['image_thumb_url'] %>"/>
<li>Price: $<%= sprintf("%.2f", @product['price_in_cents'].to_f/100) %></li>
<li>Category: <%= @product['primary_category'] %></li>
<li>Alcohol Content: <%= @product['alcohol_content'].to_f/100 %>%</li>
<li>Inventory: <%= @product['inventory_count'].to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></li>


